body{
	margin: 0;
	padding: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: #2A2A2A;
	text-align: left;
}

h3{
	text-align: left;
	color: #FFFFFF;
}

.flex{
	display: flex;
}

.flex-middle{
	align-items: center;
}

.container{
	width: 800px;
	margin: 0 auto;
	align-items: center;
}

.buttoncontainer{
	
}

#header{
	background-color: #000000;
	color:#C5C5C5;
	font-family: Constantia;
}

#header span{
	flex-grow: 1;
	font-size: 20px;
}

.nav{
	list-style: none;
	margin: 0;
	padding: 0;
}

.maintext{
	text-align: left;
	color: #c5c5c5;
	font-family: Constantia;
	font-size: 15px;
}

.flex-middle span a{
	display: block;
	padding: 15px;
	color: #c5c5c5;
	text-decoration: none;
}

.nav li a{
	display: block;
	padding: 15px;
	color: #c5c5c5;
	text-decoration: none;
}

.nav li a:hover{
	background-color: #c5c5c5;
	color: black;
}

.navmain{
	list-style: none;
	align-items: center;
}

.navmain li a{
	font-family: Constantia;
	font-weight: bold;
	
	align-items: left;
	display: block;
	padding: 20px;
	margin: 0 40px 0 0;
	width: 175px;
	height: 400px;
	color: #c5c5c5;
	text-decoration: none;
	background-color: black;
	
}

.fkolbutton a:hover{
	background-image: url("fkolbg.png");
	background-color: #C9C9C9;
	color: #00fab7;
}

.sovbutton a:hover{
	background-image: url("sovbg.png");
	background-color: #C9C9C9;
	color: greenyellow;
}

.carcbutton a:hover{
	background-image: url("carcbg.png");
	background-color: #C9C9C9;
	color: yellow;
}

#page_content{
	align-items: center;
	padding-top: 30px;
	align-items: center;
	text-align: center;
}

.imageclassfkol{
	display: block;
	margin: 0 40px 0 0;
	background-color: grey;
	border-style: double;
	border-width: 10px;
	border-color: #00D1C1
}

.imageclasssov{
	display: block;
	margin: 0 40px 0 0;
	background-color: grey;
	border-style: double;
	border-width: 10px;
	border-color: #000000;
	
}

.imageclasscarc{
	display: block;
	margin: 0 40px 0 0;
	background-color: grey;
	border-style: double;
	border-width: 10px;
	border-color: #C7B900;
	
}

.containerstats{
	width: 1000px;
	margin: 0 auto;
	align-items: left;
}

table, th, td{
	border: 1px solid white;
	border-collapse: collapse;
	font-family: Constantia;
	color: #c5c5c5;
}

td{
	min-width: 252px;
}

th{
	min-width: 112px;
}

.flex-main{
	align-items: center;
	text-align: center;
}
